:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #02073e;
  --secondary-color: #0f2137;
  --dark-secondary-color: #3c415c;
  --tertiary-color: #a6b1e1;
  --light-tertiary-color: #f3f6fb;
  --cor-h1: #7C4DE1;
  --text-color: #343d48;
  --font-family: 'DM Sans', sans-serif;
  --hover-linkedin-github:#f5f4f2;
}
