.about{
    display: flex;
    justify-content: space-between;
    gap:4rem;
}
#about{
    scroll-margin-top: 19rem;
}
.about .about_left{
    max-width: 40rem;
    flex:1;
}
.about .about_left p{
    margin: 1rem 0 2rem;
}
.about .about_left ul{
    margin-left: -1.2rem;
}
.about .about_left ul li{
    display: inline-block;
}
.about .about_left ul li a{
    display: inline-block;
    padding: 1rem;
}
.about .about_right{
    flex: 1;
    max-width: 66rem;
}

@media only screen and (max-width: 621px) {
   .about{
    display: flex;
    flex-direction: column;
   }
   .about .about_right p{
    text-align: justify;
   }
   .about .about_left h2{
    font-size: 30px;
   }
  }
