#skills{
    scroll-margin-top: 20rem;
}
.skills_content{
    background-color: var(--hover-linkedin-github);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.skills_content ul{
    display: flex;
    justify-content: space-between;
}
.skills_content ul img{
    padding: 5px;
}
.skills_content h2{
    padding: 5px;
    font-size: 3rem;
    color: var(--color);
}
@media only screen and (max-width: 621px) {
    .skills_content ul{
        display: flex;
        flex-direction: column;
    }
}
 
