.skills{
    scroll-margin-top: 15rem;
}
.skills_content{
    background-color: var(--hover-linkedin-github);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills_content ul{
    display: flex;
    padding: 5px;
}
.skills_content h2{
    margin-bottom: 2rem;
    padding-top: 5px;
    font-size: 3rem;
}
